{% extends 'base.html' %}

{% block head %}
<title>Waterloo Acceptance Predictor</title>
{% endblock %}


{% block body %}
<h1>Waterloo Acceptance Predictor</h1>

<form method="post" action="./process_form">
  <label class="label">Average</label>
  <input class="input" name="avg" type="number" min="0", max="100" placeholder="Average" value="{{ form_values['avg'] }}" required>

  <label class="label">Predicted AIF Score (0-5)</label>
  <input class="input" name="aif" type="number" min="0", max="5" placeholder="AIF" value="{{ form_values['aif'] }}" required>

  <label class="label">Predicted Interview Score (0-3)</label>
  <input class="input" name="int" type="number" min="0", max="3" placeholder="Interview" value="{{ form_values['int'] }}" required>

  <label class="label">Your school's adjustment factor</label>
  <input class="input" name="adj" type="number" min="0", max="25" placeholder="Adjustment" value="{{ form_values['adj'] }}" required>
  <br>
  <label class="label">Gender</label><br>
  <!-- <input class="input" name="sex" type="number" min="0", max="1" placeholder="Adjustment" value="{{ form_values['sex'] }}" required> -->

  <input type="radio" name="sex" value="0" required>
  Female<br>
  <input type="radio" name="sex" value="1" required>
  Male<br>
  <input type="submit" class="btn btn-primary">
</form>

{% endblock %}